* {
  margin: 0px;
  padding: 0%;
  width: 30vh;
}
body {
  margin: 0px;
  height: 100vh;
  align-self: center;
  justify-content: center;
  width: 90px;
  display: block;
  padding: 0%;
}
.media {
  min-width: 376px
}
.first {
  display: flex;
  padding: 50px;
  margin: 10px;
  width: 50px;
}
.second {
  display: flex;
  padding: 50px;
  border-width: 100vh;
}
.header {
  background-image: url('bg-hero-desktop.svg');
  height: 100vh;
  width: 164vh;
  background-color: hsl(193, 100%, 96%);
}
.logo {
  float: left;
  float: top;
  width: 100px;
}
.top {
  float: right;
  padding: 3px;
  border-radius: 20px;
  width: 100px;
  background-color: white;
  color: rgb(59, 116, 97);
  border: 130px;
}
.box {
  padding: 10px;
  border-radius: 20px;
  width: 200px;
  background-color: hsl(322, 100%, 66%);
  color: white;
  border: 100px;
}
.gap {
  padding: 20px;
  justify-content: center;
}
.grow {
  padding: 50px;
}
h6,
p,
h1,
h2,
h3 {
  color: hsl(189, 14%, 20%);
}
.calls {
  display: flex;
  flex-direction: column;
  padding: 100px;
}
.flow {
  background-color: beige;
}
.flowing {
  padding: 50px;
}
.user {
  padding: 50px;
}
.footer {
  background-color: hsl(192, 100%, 9%);
  color: white;
  height: 30vh;
  width: 200vh;
  padding: 20px;
  display: flex;
}
.footer p {
  color: white;
  font-size: small;
  padding: 10px;
}
.svg {
  width: 40px;
  height: 40px;
  color: white;
}
.slogo {
  display: flex;
  justify-content: center;
}
.location {
  width: 20px;
  height: 20px;
}
.phone {
  width: 20px;
  height: 20px;
}
.email {
  width: 20px;
  height: 20px;
}
.no {
  display: flex;
}
.mail {
  display: flex;
}
.about {
  color: white;
}
.social {
  display: flex;
}
.button1 {
  padding: 10px;
  border-radius: 20px;
  width: 200px;
  background-color: hsl(322, 100%, 66%);
  color: white;
  border: 100px;
}
.ready {
  padding: 40px;
  border-radius: 10px;
  width: 300px;
  background-color: rgb(225, 221, 221);
  color: rgb(49, 32, 32);
  margin-left: auto;
  margin-right: auto;
}
